---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Lato, Hind, "Open Sans" Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$color1: #97D127;
$color2: #134C4B;
$color3: #34383C;
$color4: #EFF2EF;
$color5: #FFFFFF;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width: 1024px;
$breakpoint1: 960px;
$breakpoint2: 768px;
$breakpoint3: 480px;

$on-palm:          600px;
$on-laptop:        800px;


//--------------------------------
// Setup
//--------------------------------
html, body {
    height: 100%;
}

//--------------------------------
// Navigation
//--------------------------------
nav i.fa {
    font-size: 1.8em;
    color: $color2;
    margin-top: 10px;
    &:hover {
        color: $color1;
    }
}

nav a {
    &:not(:first-child) {
        margin-left: 10px;
    }
}


//--------------------------------
// Landing page
//--------------------------------
body#landing {
    /*background: url('../assets/zoom-64599203-3-blur.jpg');*/
    background: url('../assets/element-background.png');
    background-size: cover;
    background-position: bottom;
}

#splash .wrapper.nav {
    text-align: left;
}

#logo {
    width: 160px;
    float: left;
}

.social {
    font-size: 24px;
    float: right;
}

.social span {
    &:not(:first-child) {
        margin-left: 5px;
    }
}

.social span:hover {
    color: #333333;
}

#splash {
    text-align: center;
    padding-bottom: 50px;
}

#splash h1 {
    margin: 0 auto;
    margin-top: 15%;
    line-height: 130%;
    width: 75%;
    color: #ffffff;
}


.contact-form {
    margin-top: 50px;    
}

.contact-form input {
    padding: 20px;
    border: none;
    font-size: 20px;
    font-family: $base-font-family;
    box-sizing: border-box;
    
}

input.email {
    width: 50%;
    max-width: 450px;
    min-width: 250px;
    background: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

input.email:focus {
    /*border: 1px solid #000000;*/
    outline: none;
    background: #ffffff;
}

input.submit {
    background: #222222;
    color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 120px;
}

input.submit:hover {
    background: #333333;
}

input.submit:focus {
    outline: none;    
}

.submit-wrapper, .email-wrapper {
    display: inline;
    position: relative;
}

.submit-wrapper span {
    color: #ffffff;
    position: absolute;
    top: -5px;
    right: 40%;
    font-size: 30px;
    display: none;
}

@keyframes fadeInButton {
    from {color: rgba(255, 255, 255, 0.0);}
    to {color: rgba(255, 255, 255, 1.0);}
}

.fade-in-button {
    animation-name: fadeInButton;
    animation-duration: 2s;
}

@keyframes fadeOutButton {
    from {color: rgba(255, 255, 255, 1.0);}
    to {color: rgba(255, 255, 255, 0.0);}
}
.fade-out-button {
    animation-name: fadeInButton;
    animation-duration: 2s;
}


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


@media screen and (max-width: $breakpoint3) {
    #splash h1 {
        font-size: 24px;
        margin: 0 auto;
        margin-top: 20%;
        line-height: 130%;
        width: 100%;
        color: #ffffff;
    }
    .contact-form input {
        width: 100% !important;
        border-radius: 0px !important;
    }

}




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
